<body>

    <div id="headerwrap">
        <div class="container-fluid">
            <br>
            <h1>想想食室</h1>
            <h2 style="color:lightyellow">💗充滿溫馨與蛋糕香氣的轉角美食💗</h2>
            <div class="row">
                <br>
                <br>
                <br>
                <div class="col-lg-6 col-lg-offset-3">
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /headerwrap -->
    <!-- ========== WHITE SECTION ========== -->
    <div id="w">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h3>
                        歡迎來到 <bold>
                            想想食室
                        </bold><br />
                        美味限量的<bold>糕點
                        </bold> 在這裡<br />
                        歡迎到店享用 或者<bold> 預先訂購</bold><br />
                        店裡面還有<bold> 貓 </bold>喔
                    </h3>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>
    <!-- /w -->
    <!-- ========== SERVICES - GREY SECTION ==========-->
    <section id="services" name="services"></section>
    <div id="g">
        <div class="container">
            <div class="row">
                <h3>人氣商品</h3>
                <br>
                <br>
                <div class="col-lg-6">
                    <img src="/Image/s1.jpg" class="img-thumbnail">
                    <h4>⏳NEW⏳6吋藍莓草莓塔</h4>
                    <p>感受熱情的草莓與冷靜的藍莓在舌尖碰撞吧 ! 藍莓草莓塔能帶給你冰與火般視覺與味蕾的衝擊，再讓入口即化的奶油做最好的潤滑。</p>
                </div>
                <div class="col-lg-6">
                    <img src="Image/s2.jpg" class="img-thumbnail">
                    <h4>⭐經典⭐家常蘋果塔</h4>
                    <p>經典口味，耐人尋味。</p>
                </div>
                <div class="col-lg-3">
                    <img src="Image/s3.jpg" class="img-thumbnail">
                    <h4>😮特別😮伯爵瑪德蓮</h4>
                    <p>伯爵瑪德蓮是貝殼型的迷你磅蛋糕喔 ! 有淡淡的紅茶香。來自於法國，在台灣一般的麵包店可不常見呢。</p>
                </div>
                <div class="col-lg-3">
                    <img src="Image/s4.jpg" class="img-thumbnail">
                    <h4>🐈黑金🐈免費觀賞非賣品</h4>
                    <p>歡迎到我們店裡體驗人貓共享下午茶的優閒時光。</p>
                </div>
            </div>
        </div>
    </div>

    <div id="w">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2 style="color:#0026ff"><b>😉關於我們😉</b></h2>
                    <h3><bold>現為 2 人獨立工作室</bold></h3>
                    <h3>食室提供 甜點午餐晚餐中式西式料理</h3>
                    <h3><bold>派對大蛋糕需3天前預約訂製</bold></h3>
                    <h3>甜點皆可外帶 鹹食＆飲品需自行攜帶保鮮盒外帶</h3>
                    <h3><bold>皆為點餐後製作 需稍稍等待 若趕時間 建議挑選</bold></h3>
                </div>
            </div>
        </div>
        <!-- /container -->
    </div>


    <!-- ========== FOOTER SECTION ========== -->
    <section id="contact" name="contact">
        <div id="f">
            <div class="container">
                <div class="row">
                    <h3><b>快來找我們</b></h3>
                    <br>
                    <div class="col-lg-4">
                        <h3><b>我們的Facebook</b></h3>
                        <h3><a href="https://www.facebook.com/ss09260408/">想想食室的FB</a></h3>
                        <br>
                    </div>

                    <div class="col-lg-4">
                        <h3><b>打給我們</b></h3>
                        <h3>0963325409</h3>
                        <br>
                    </div>

                    <div class="col-lg-4">
                        <h3><b>我們的所在地</b></h3>
                        <h3><a href="https://www.google.com/maps?q=%E6%83%B3%E6%83%B3%E9%A3%9F%E5%AE%A4&um=1&ie=UTF-8&sa=X&ved=0ahUKEwi0g7i50tnfAhVPfXAKHTNPAoAQ_AUIDigB">632雲林縣虎尾鎮自強街39號</a></h3>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- /container -->
        <!-- /f -->
    </section>

</body>