@model IEnumerable<FinalExam.Models.BigOrder>

@{
    ViewBag.Title = "我的訂單";
}
<div id="w">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>我的訂單</h2>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            訂單編號
        </th>
        <th>
            總金額
        </th>
        <th>
            訂購時間
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Money)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BuyDate)
            </td>
            <td>
                @Html.ActionLink("查看", "SeeBuyOrder", new { id = item.OId })
            </td>
             
        </tr>
    }

</table>
